/* Universal styles */
html {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}


body {
    min-width: 320px;
}

h1, h2, h3, p, li, a {
    line-height: 150%;
}

p .bold {
    font-weight: 800;
}

p .italic {
    font-style: italic;
    font-weight: 300;
}

main {
    margin-top: 86px;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
}

h2 {
    font-size: 2.25rem;
    font-weight: 700;
}

 h3 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 150%;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 3rem 0;
    flex-direction: column;
    max-width: 1280px;
    margin: auto;
}

@media only screen and (max-width: 450px)  {
    html {
        font-size: 20px;
    }
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 1rem;
        padding: 3rem 0;
        gap: 1.5rem;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.25rem;
    }
    main {
        margin-top: 46px;
    }
}

@media only screen and (min-width: 450px) and (max-width: 1024px)  {
    h1 {
        font-size: 2rem;
    }
    .content {
        display: flex;
        gap: 1.5rem;
        margin: 0 1.5rem;
        padding: 2.5rem 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (min-width: 2560px) {
    html {
        font-size: 20px;
    }
}

/* HAEDER */

header {
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: hsla(220, 13%, 91%, 1);
    top: 0;
}

.mobile {
    display: none;
}

.desktop {
    height: 88px;
}

.desktop .nav-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.desktop ul {
    display: inline-flex;
    align-items: center;
}

.desktop li {
    margin-right: 2.5rem;
}

.desktop li:last-child {
    margin-right: 0px;
}

.desktop li a {
    font-size: 1.25rem;
    font-weight: 300;
    text-decoration-line: underline;
    color: hsla(0, 0%, 0%, 1);
}

.logo {
    aspect-ratio: 1;
    height: 2rem;
    border-radius: 2rem;
    background-color: hsla(0, 0%, 100%, 1);
}

.mobile .menu {
    background-image: url("../images/menu.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 2rem;
    width: 2rem;
}

@media only screen and (max-width: 450px)  {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
        margin: 0 1rem;
    }

    .mobile .nav-wrapper {
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        height: 46px;
    }
    .mobile .mobileMenuList {
        display: none;
    }
}

.mobileMenuList {
    background-color: hsla(0, 0%, 100%, 1);
    flex-direction: column;
}

.mobileMenuList a {
    padding: 1rem;
    border-bottom: 1px solid hsla(212, 28%, 17%, 1);
}

.mobileMenuList a:hover {
    background-color: hsla(220, 14%, 80%, 1);
}


/* ABOUT ME */
.about {
    background-color: hsla(220, 13%, 91%, 1);
}

.about .content {
    flex-direction: row;
}

.about .profile-picture {
    height: 20.375rem;
    aspect-ratio: 1;
    border-radius: 20.375rem;
    background-color: hsla(0, 0%, 100%, 1);
    background-image: url("../images/laptop.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.about .aboutme p {
    font-size: 1.875rem;
    font-weight: 300;
}

@media only screen and (max-width: 450px)  {
    .about .content {
        flex-direction: column;
    }
    .about .profile-picture {
        height: 10rem;
        border-radius: 10rem;
    }
    .about .aboutme p {
        font-size: 1rem;
        padding-top: 1.5rem;
    }
}
@media only screen and (min-width: 450px) and (max-width: 1024px)  {
    .about .content {
        flex-direction: row;
    }
    .about .profile-picture {
        height: 15rem;
        border-radius: 15rem;
    }
    .about .aboutme p {
        font-size: 1.5rem;
    }
}

/* PROJECTS */

.projects {
    background-color: hsla(0, 0%, 100%, 1);
}

.projects .projects-list {
    display: flex;
    gap: 3rem;
}

.projects .project-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    max-width: 300px;
    margin: 1rem;
}

.projects .project-card .project-icon {
    aspect-ratio: 1;
    height: 10.9375rem;
    border-radius: 10.9375rem;
    background-color: hsla(220, 13%, 91%, 1);
}

.archive {
    background-image: url("../images/archive.png");
    background-repeat: no-repeat;
    background-position: center center;
}


.projects .project-card .project-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects .project-card p {
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
}

.projects .project-card .tags-list {
    display: inline-flex;
    gap: 0.5rem;
}

.projects .project-card .tag {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    border-radius: 1.5rem;
    background-color:hsla(220, 14%, 96%, 1);
    font-size: 0.875rem;
    font-weight: 300;
    text-align: center;
    padding: 0.5rem 0.5rem;

}

@media only screen and (max-width: 450px)  {
    .projects .projects-list {
        flex-direction: column;
        gap: 1.5rem;
    }
    .projects .project-card .project-icon {
        height: 5rem;
        border-radius: 5rem;
    }
    .projects .project-card p {
        font-size: 1rem;
    }
    .projects .project-card .tag {
        font-size: 0.75rem;
    }
    
}

@media only screen and (min-width: 450px) and (max-width: 1024px)  {
    .projects .projects-list {
        gap: 0.5rem;
    }
    .projects .project-card .project-icon {
        height: 7rem;
        border-radius: 7rem;
    }
}

/* SKILLS */

.skills {
    background-color: hsla(210, 20%, 98%, 1);
}

.skills .skills-list {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    width: 100%;
}

.skills .skill-card {
    display: flex;
    padding: 3rem;
    max-width: 980px;
    width: 100%;
    align-items: center;
    gap: 4.5rem;
    border-radius: 0.5rem;
    border: 1px solid hsla(220, 13%, 91%, 1);
    background-color: hsla(0, 0%, 100%, 1);
    box-shadow: 8px 8px 0px 0px hsla(212, 28%, 17%, 1);
}

.product {
    background-image: url("../images/product-management.png");
}

.development {
    background-image: url("../images/web-development.png");
}

.design {
    background-image: url("../images/product-design.png");
}

.skills .skill-card .skill-icon {
    aspect-ratio: 1;
    height: 15.3125rem;
    border-radius: 15.3125rem;
    background-color: hsla(220, 13%, 91%, 1);
    background-repeat: no-repeat;
    background-position: center center;
}

.skills .skill-card .skill-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

.skills .skill-card ul {
    list-style-type: "*";
    font-size: 1.25rem;
    font-weight: 500;
}

@media only screen and (max-width: 450px)  {
    .skills .skills-list {
        gap: 1.5rem;
    }
    .skills .skill-card {
        flex-direction: column;
        gap: 1.5rem;
        padding: 1.5rem;
        max-width: 200px;
    }
    .skills .skill-card .skill-icon {
        height: 5rem;
        border-radius: 5rem;
    }
    .skills .skill-card ul {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 450px) and (max-width: 1024px)  {
    .skills .skills-list {
        gap: 1.5rem;
    }
    .skills .skill-card {
        padding: 1.5rem;
        gap: 2rem;
        max-width: 650px;
    }
    .skills .skill-card .skill-icon {
        height: 10rem;
        border-radius: 10rem;
    }
    .skills .skill-card .skill-description {
        gap: 0.5rem;
    }
}


/* CONTACT */

.contact button {
    display: flex;
    height: 6rem;
    padding: 0.875rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.5rem;
    background-color: hsla(212, 28%, 17%, 1);
    font-size: 2.25rem;
    font-weight: 700;
    color: hsla(0, 0%, 100%, 1);
}

.scroll {
    display: none;
    background-image: url("../images/3d-up-arrow.png");
    position: fixed;
    background-color: hsla(210, 20%, 98%, 1);
    bottom: 148px;
    right: 50px;
    border-radius: 8px;
    height: 64px;
    width: 64px;
    padding: 8px;
    background-repeat: no-repeat;
    background-position: center;
}

.scroll:hover {
    background-color: hsla(220, 13%, 91%, 1);
}

.scroll:active {
    background-color: hsla(220, 14%, 80%, 1);
}

@media only screen and (max-width: 450px)  {
    .contact button {
        font-size: 1rem;
        height: 4rem;
        padding: 0.5rem 0.5rem;
    }
    .scroll {
        display: none;
    }
}
@media only screen and (min-width: 450px) and (max-width: 1024px)  {
    .contact button {
        padding: 0.5rem 1rem;
        font-size: 1.5rem;
        height: 5rem;
    }
    .scroll {
        display: none;
    }
}

/* FOOTER */

footer {
    height: 120px;
    align-items: center;
    display: flex;
    background-color: hsla(212, 28%, 17%, 1);
}

footer .copyright {
    font-size: 0.875rem;
    font-weight: 400;
    margin-left: 3rem;
    color: hsla(220, 13%, 91%, 1);
}

@media only screen and (max-width: 450px)  {
    footer {
        height: 40px;
        justify-content: center;
        align-items: center;
        padding: 0.5rem 0;
    }
    footer .copyright {
        font-size: 0.75rem;
        margin-left: 0;
    }
}

@media only screen and (min-width: 450px) and (max-width: 1024px)  {
    footer .copyright {
        margin-left: 1.5rem;
    }
}